{#- Jinja2 template -#}

{#- 

parameters: 
  zk_server_heap: int (optional)
  zk_server_flags: [] (optional)
  zk_java_env: {} (optional)

See: http://zookeeper-user.578899.n2.nabble.com/setting-zookeeper-heap-size-td6983511.html 

-#}

{%- macro print_value(k, v) %}
{{ 'export %s="%s"'|format(k, v) }}
{# for whitespacing #}
{% endmacro -%}

{%- if zk_server_heap is defined -%}
{%- if zk_version[2]|int <= 4 -%}
{%- if not zk_server_flags is defined -%}
{%-   set zk_server_flags = '' -%}
{%- endif %}
{%- set zk_server_flags = zk_server_flags ~ ' -Xmx' ~ zk_server_heap|default(1024) ~ 'm' -%}
{%- else %}
{{ print_value('ZK_SERVER_HEAP', zk_server_heap) }}
{% endif -%}
{%- endif -%}

{%- if zk_server_flags is defined -%}
{{ print_value('SERVER_JVMFLAGS', zk_server_flags) }}
{%- endif -%}

{%- if zk_java_env is defined -%}
    {%- for k,v in zk_java_env|dictsort %}
{{ print_value(k, v) }}
    {% endfor -%}
{%- endif -%}
