{#- Jinja2 template -#}
{#- TODO: look into GC http://zookeeper-user.578899.n2.nabble.com/setting-zookeeper-heap-size-td6983511.html -#}

{%- macro print_value(k, v) %}
{{ 'export ' ~ k ~ '=' ~ v }}
{# for whitespacing #}
{% endmacro -%}

{{ print_value('JVMFLAGS', '"' ~ jvm_flags|default(['-Xmx1024m'])|join(' ') ~ '"') }}
