{#- Jinja2 template -#}

{#- 

parameters: 
  zk_id: int (optional)
  zk_ensemble: string (optional)

-#}

{%- macro print_id(id) -%}
{{ id }}
{%- endmacro -%}

{%- macro group_id(group) -%}
    {%- for host in groups[group]|sort -%}
        {%- if inventory_hostname == host -%} 
            {{- print_id(loop.index) -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- if zk_id is defined -%}
    {{- print_id(zk_id) -}}
{%- elif ansible_local.get('zookeeper', {}).get('server', {})['id'] is defined -%}
    {{- print_id(ansible_local.get('zookeeper', {}).get('server', {})['id']) -}}
{%- else -%}
    {%- if zk_ensemble is defined %}
        {{- group_id(zk_ensemble) }}
    {% else -%}
        {%- for group in group_names -%}
            {%- if 'ensemble' in group %}
                {{- group_id(group) -}}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endif -%}
