{#- Jinja2 template -#}

{#- 

parameters: 
  zk_conf: {} (optional)
  zk_ensemble: string (optional)
  
-#}

{%- macro print_value(k, v) %}
{{ k ~ '=' ~ v }}
{# for whitespacing #}
{% endmacro -%}

{%- macro print_server(id='', hostname='', 
        clientPort='', leaderPort='', observer=false) %}
server.{{- id|default('1', true) -}}:
    {{- hostname|default('localhost', true) -}}:
    {{- clientPort|default('2888', true) -}}:
    {{- leaderPort|default('3888', true) -}}
    {%- if observer -%}:observer{%- endif %}
{% endmacro -%}

{%- macro iterate_defaults(values, defaults) -%}
    {%- for k,v in defaults|dictsort -%}
        {%- if k not in values -%}
            {{ caller(k, v) }}
        {%- endif -%}
    {%- endfor -%}
    {%- for k,v in values|dictsort -%}
        {{ caller(k, v) }}
    {%- endfor -%}
{%- endmacro -%}

{%- macro print_conf(conf={}) -%}

    {%- set conf_defaults = {
        'syncLimit': 5,
        'initLimit': 10, 
        'dataDir': '/var/lib/zookeeper', 
        'clientPort': 2181, 
        'tickTime': 2000,}
    -%}
    
    {%- call(k, v) iterate_defaults(conf, conf_defaults) %}
{{ print_value(k, v) }}
    {%- endcall -%}
    
{%- endmacro -%}

{%- macro print_ensemble(group) -%}
    {%- set ensemble = groups[group] -%}
          
    {%- if zk_observer is defined -%}
{{ print_value('peerType', 'observer') }}
    {%- endif -%}
        
    {%- for host in ensemble|sort -%}
        {%- set hostinfo = hostvars[host] %}
        {%- set serverinfo = hostinfo.get('ansible_local', {}).get('zookeeper', {}).get('server', {}) -%}
{{ print_server(hostinfo['zk_id']|default(serverinfo['id'])|default(loop.index), 
    hostinfo['zk_hostname']|default(serverinfo['hostname'])|default(host), 
    hostinfo['zk_clientPort']|default(serverinfo['clientPort'])|default(''), 
    hostinfo['zk_leaderPort']|default(serverinfo['leaderPort'])|default(''),
    hostinfo['zk_observer']|default(serverinfo['observer'])|default(false)) }}
{# for whitespacing #}
    {%- endfor -%}

{%- endmacro -%}

#
# ZooKeeper configuration file
#

{{ print_conf(zk_conf|default({})) }}
{%- if zk_ensemble is defined %}
{{ print_ensemble(zk_ensemble) }}
{% else -%}
    {%- for group in group_names -%}
        {%- if 'ensemble' in group %}
{{ print_ensemble(group) }}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
