{#- Jinja2 template -#}

{#- 

parameters: 
  zk_conf: {} (optional)
  zk_ensemble: string (optional)
  zk_dynamic_cfg: string (optional)
  zk_observer: boolean (optional)
  
-#}

{%- macro print_value(k, v) -%}
{%- if v != '' %}
{{ k ~ '=' ~ v }}
{# for whitespacing #}
{% endif -%}
{%- endmacro -%}

{%- macro print_server(id, hostname='', 
        leaderPort='', electionPort='3888', observer=false) %}
server.{{ id|default('1', true) }}=
    {%- if hostname %}{{ hostname }}{% endif -%}
    :{{ leaderPort|default('2888', true) -}}
    {%- if electionPort %}:{{ electionPort }}{% endif -%}
    {%- if observer %}:observer{% endif %}
{% endmacro -%}

{%- macro iterate_defaults(values, defaults) -%}
    {%- for k,v in defaults|dictsort -%}
        {%- if k not in values -%}
            {{ caller(k, v) }}
        {%- endif -%}
    {%- endfor -%}
    {%- for k,v in values|dictsort -%}
        {{ caller(k, v) }}
    {%- endfor -%}
{%- endmacro -%}

{%- macro print_conf(conf={}) -%}

    {%- set conf_defaults = {
        'syncLimit': 5,
        'initLimit': 10, 
        'dataDir': '/var/lib/zookeeper', 
        'tickTime': 2000,}
    -%}
    
    {%- if zk_version[2]|int < 5 -%}
        {%- set _dummy = conf_defaults.update({'clientPort':2181}) -%}
    {%- endif -%}
    
    {%- call(k, v) iterate_defaults(conf, conf_defaults) %}
{{ print_value(k, v) }}
    {%- endcall -%}
    
{%- endmacro -%}

{%- macro print_ensemble(group) -%}
    {%- set ensemble = groups[group] -%}
          
    {%- if zk_observer is defined -%}
{{ print_value('peerType', 'observer') }}
    {%- endif -%}
        
    {%- for host in ensemble|sort -%}
        {%- set hostinfo = hostvars[host] %}
        {%- set serverinfo = hostinfo.get('ansible_local', {}).get('zookeeper', {}).get('server', {}) -%}
{{ print_server(hostinfo['zk_id']|default(serverinfo['id'])|default(loop.index), 
    hostinfo['zk_hostname']|default(serverinfo['hostname'])|default(host), 
    hostinfo['zk_leader_port']|default(serverinfo['leaderPort'])|default(''), 
    hostinfo['zk_election_port']|default(serverinfo['electionPort'])|default('3888'),
    hostinfo['zk_observer']|default(serverinfo['observer'])|default(false)) }}
{# for whitespacing #}
    {%- endfor -%}

{%- endmacro -%}

#
# ZooKeeper configuration file
#

{{ print_conf(zk_conf|default({})) }}
{%- if zk_version[2]|int > 4 %}
{{ print_value('dynamicConfigFile', zk_dynamic_cfg|default(zk_tree.etc ~ '/conf/zoo.cfg.dynamic', true)) }}
{% else -%}
    {%- if zk_ensemble is defined %}
{{ print_ensemble(zk_ensemble) }}
    {% else -%}
        {%- for group in group_names if 'ensemble' in group -%}
{{ print_ensemble(group) }}
        {%- endfor -%}
    {%- endif -%}
{% endif -%}
